<ion-content>
  <ion-grid>

    <div class="main-content">
      <ion-text class="title">
        Criar nova senha
      </ion-text>

      <form [formGroup]="onRedefinePasswordForm" class="form" (ngSubmit)="doRedefinition()">
        <ion-item lines="none" mode="md"
          [ngClass]="{ 'invalid' : onRedefinePasswordForm.controls.senha.invalid && onRedefinePasswordForm.controls.senha.touched }">
          <ion-icon name="key" slot="start" aria-hidden="true"></ion-icon>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [type]="isVisible ? 'text' : 'password'" formControlName="senha" clearOnEdit="false"></ion-input>
          <ion-button slot="end" (click)="isVisible = !isVisible" fill="clear" shape="round">
            <ion-icon [name]="isVisible ? 'eye' : 'eye-off'" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button class="open-accordion-button" slot="end" fill="clear" shape="round" (click)="toggleAccordion()">
            <ion-icon name="information-circle" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
        <div class="password-warning"
          [ngClass]="{ 'animation': onRedefinePasswordForm.controls.senha.invalid && onRedefinePasswordForm.controls.senha.touched }"
          [style.visibility]="onRedefinePasswordForm.controls.senha.invalid && onRedefinePasswordForm.controls.senha.touched ? 'visible' : 'hidden' ">
          <!-- Requisitos: 8 ou mais caracteres, letras minúsculas e maiúsculas, 1 número. -->
          Verifique os requisitos da senha.
        </div>
        <ion-accordion-group #accordionGroup>
          <ion-accordion value="second">
            <div slot="content">
              <ul>
                <li>
                  <ion-text>
                    8 ou mais caracteres.
                  </ion-text>
                </li>
                <li>
                  <ion-text>
                    Pelo menos uma letra maiúscula e uma minúscula.
                  </ion-text>
                </li>
                <li>
                  <ion-text>
                    Pelo menos um número.
                  </ion-text>
                </li>
              </ul>
            </div>
          </ion-accordion>
        </ion-accordion-group>

        <ion-item lines="none" class="confirm-password" mode="md"
          [ngClass]="{ 'invalid' : onRedefinePasswordForm.controls.confirmaSenha.invalid && onRedefinePasswordForm.controls.confirmaSenha.touched }">
          <ion-icon name="checkmark-done-circle" slot="start" aria-hidden="true"></ion-icon>
          <ion-label position="floating">Confirmar senha</ion-label>
          <ion-input [type]="isConfirmPasswordVisible ? 'text' : 'password'" formControlName="confirmaSenha"
            clearOnEdit="false" (keydown.enter)="enterBtn()"></ion-input>
          <ion-button slot="end" (click)="isConfirmPasswordVisible = !isConfirmPasswordVisible" fill="clear"
            shape="round" class="toggle-password-icon">
            <ion-icon [name]="isConfirmPasswordVisible ? 'eye' : 'eye-off'" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
        <div class="input-warning"
          [ngClass]="{ 'animation': onRedefinePasswordForm.controls.confirmaSenha.invalid && onRedefinePasswordForm.controls.confirmaSenha.touched }"
          [style.visibility]=" onRedefinePasswordForm.controls.confirmaSenha.invalid && onRedefinePasswordForm.controls.confirmaSenha.touched ? 'visible' : 'hidden' ">
          As senhas devem ser iguais.
        </div>

        <ion-row class="new-password-button-container">
          <ion-col size="2"></ion-col>
          <ion-col size="8">
            <ion-button expand="block" color="primary" type="submit" [disabled]="!onRedefinePasswordForm.valid">
              Confirmar
            </ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </form>
    </div>

  </ion-grid>
</ion-content>