<ion-content  color="light" padding class="animated fadeIn login auth-page">
  <ion-grid [fixed]="true">


      <!-- Logo -->
      <div padding-horizontal text-center class="animated fadeInDown ion-text-center">
        <div class="logo">
          <img src="../../../assets/img/logo.webp" />
          <!-- <ion-img [src]="logoBinary"></ion-img> -->
        </div>

        <img src="../../../assets/img/undraw_not_found.svg">

        <ion-text color="primary">
          <h2>Página não encontrada!</h2>
        </ion-text>


        <ion-text color="primary">
          <h5>Tente novamente.</h5>
        </ion-text>
      </div>

      <div style="margin-top: 20px;">
        <ion-row>
          <ion-col size="1">
          </ion-col>
          <ion-col size="10">
            <ion-button expand="block" color="primary" routerLink="/login">Voltar</ion-button>
          </ion-col>
          <ion-col size="1">
          </ion-col>
        </ion-row>
      </div>



  </ion-grid>
</ion-content>

