<ion-content class="toolbar">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>



  <ion-card>
    <ion-card-content>
      <img src="../../../../../../assets/icons/checkmark-circle-outline.svg" class="activate-account-icons" alt="">
      <ion-card-title>Conta ativada.</ion-card-title>
      <ion-text>Agora basta fazer login utilizando seu e-mail e senha.</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>