ion-item {
    --background: #ffffff;
    --border-color: #BEA859;
    --border-radius: 0px;
    --padding-bottom:2px;
}

.icone{
    font-size: 32px;
    color: #1B5B47;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ion-icon{
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    margin-right: 15%;
}

ion-card{
    cursor: default;
}


ion-icon:hover{
    cursor: pointer;
}